In [3]:
import numpy as np
import pandas as pd
imdb=pd.read_csv('IMDBmovies.csv')
imdb

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [4]:
imdb.shape[0]

1000

In [5]:
imdb.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [6]:
imdb['Revenue (Millions)'].isnull().sum()

128

In [7]:
(imdb['Revenue (Millions)']>75).sum()

318

In [8]:
imdb[(imdb['Revenue (Millions)']>50)&(imdb['Rating']<7)]['Title'].count()

211

In [9]:
imdb[imdb['Year']==2015]['Revenue (Millions)']

26       6.50
50     936.63
63     166.15
67     153.63
84     350.03
        ...
967     10.14
968       NaN
976       NaN
984     42.65
995       NaN
Name: Revenue (Millions), Length: 127, dtype: float64

In [11]:
imdb[(imdb['Genre']=="Adventure")&(imdb['Year']==2015)]['Rating'].mean()

nan

In [18]:
imdb[75:150]
imdb.loc[75:150,['Genre','Rank','Director']]
cond=imdb.iloc[75:151]
cond['Runtime (Minutes)'].mean()

127.47368421052632

In [20]:
imdb.groupby(by='Year')['Revenue (Millions)'].sum().sort_values(ascending=False)

Year
2016    11211.65
2015     8854.12
2014     7997.40
2013     7666.72
2012     6910.29
2010     5989.65
2011     5431.96
2009     5292.26
2008     5053.22
2007     4306.23
2006     3624.46
Name: Revenue (Millions), dtype: float64

In [25]:
imdb.iloc[10:51:10]['Revenue (Millions)'].max()
imdb.iloc[[10,22,34,41,56]]['Revenue (Millions)'].max()

234.02

In [26]:
imdb[imdb['Genre'].isin(["Adventure","Action","Horror","Crime"])]['Title'].count()

14

In [28]:
imdb[imdb['Genre']=="Horror"]['Rating'].mean()

5.445454545454546

In [34]:
cond=(imdb[imdb['Director']=="Biloy Ray"]['Title'].count())
print(cond)
year=imdb[imdb['Director']=="Billy Ray"]["Year"]
print(year)

0
995    2015
Name: Year, dtype: int64

In [37]:
cond=imdb[imdb['Year'].isin([2012,2013,2014])]['Year'].count()
print(cond)
cond1=imdb[imdb['Year'].isin([2012,2013,2014])]['Genre'].value_counts()
print(cond1)

253
Action,Adventure,Sci-Fi    16
Drama,Romance              10
Comedy,Romance              9
Drama                       9
Comedy                      8
                           ..
Drama,Romance,Thriller      1
Drama,Horror,Sci-Fi         1
Drama,Sci-Fi,Thriller       1
Adventure,Horror            1
Adventure,Comedy            1
Name: Genre, Length: 104, dtype: int64

In [38]:
cond=imdb.groupby(by=['Title','Genre'])['Votes'].max().sort_values(ascending=False)
cond

Title                     Genre
The Dark Knight           Action,Crime,Drama         1791916
Inception                 Action,Adventure,Sci-Fi    1583625
The Dark Knight Rises     Action,Thriller            1222645
Interstellar              Adventure,Drama,Sci-Fi     1047747
The Avengers              Action,Sci-Fi              1045588
                                                      ...
The Headhunter's Calling  Drama                          164
Tracktown                 Drama,Sport                    115
Whisky Galore             Comedy,Romance                 102
The Exception             Drama                           96
Paint It Black            Drama                           61
Name: Votes, Length: 1000, dtype: int64

In [39]:
cond=imdb[imdb['Revenue (Millions)']==imdb['Revenue (Millions)'].max()]['Director']
print(cond)
cond1=imdb[imdb['Director']=='j.j. Abrams']['Revenue (Millions)'].sum()
print(cond1)

50    J.J. Abrams
Name: Director, dtype: object
0.0